/datadog-traceroute
/datadog-traceroute-server
.dir-locals.el
.idea
.vscode
.cursor
vendor

portable_*.exe
portable_syn
!portable_syn/
portable_sack
!portable_sack/
portable_udp
!portable_udp/
portable_icmp
!portable_icmp/
