name: build

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write # needed to write releases

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v2
        with:
          go-version-file: ".go-version"
      - name: Install cross-compilation tools
        run: sudo apt-get update && sudo apt-get install -y gcc-mingw-w64-x86-64
      - run: go mod tidy
      - run: go test -tags=test -v ./...
      - uses: goreleaser/goreleaser-action@v6
        if: success() && startsWith(github.ref, 'refs/tags/')
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CC_WINDOWS_AMD64: x86_64-w64-mingw32-gcc
